<br>
<div class="login-box">
    <h2>Yorum</h2>
    <form>
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>Adınız</label>
      </div>
      <div class="user-box">
        <input type="text" name="usersurname" required="">
        <label>Soyadınız</label>
      </div>
      <div class="user-box">
        <textarea cols="40" rows="4"></textarea>
      </div>
      <div class="user-box">
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Yorum Ekle
      </a>
      </div>
    </form>
  </div>
