
<div class="wrapper">
    <div class="leftSide">
      <div class="restaurantImg">
        <img src="\assets\images\restoranlar01.jpg" alt="" srcset="">
      </div>
      <div class="textBox">
        <h2>Cafe & Restaurant</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil id odit vero perferendis? Provident facilis molestias, velit debitis hic, nam perspiciatis eum, nihil cumque officia minus corporis quia ducimus libero.</p>
      </div>
    </div>
    <div class="rightSide">
      <div class="imageBox">
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\alacati-kahvalti--1155x675.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">Kahvaltı</a>
            </div>
          </div>
        </div>
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\alacati-kahvalti--1155x675.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">Yemek</a>
            </div>
          </div>
        </div>
        <div class="menuBox">
          <div class="card">
            <img src="\assets\images\alacati-kahvalti--1155x675.jpg" class="menuImg" alt="...">
            <div class="card-body">
             <a href="#" class="btn btn-primary detailsBtn">İçecekler</a>
            </div>
          </div>
        </div>
      </div>
      <div class="descBox">
          <button  type="button" id="commentbtn" class="btn btn-info" >Yorum Ekle</button>
        <!-- <input type="button" value="Yorum Ekle" id="commentbtn" class="btn btn-info" routerLink="/yorum"> -->
        <div class="container mt-5 mb-5">
          <div class="d-flex justify-content-center row">
              <div class="d-flex flex-column col-md-8">
                  
                  <div class="coment-bottom bg-white p-2 px-4">
                      <div
                          class="commented-section mt-2">
                          <div class="d-flex flex-row align-items-center commented-user">
                            <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                              <h5 class="mr-2">Corey oates</h5></div>
                          <div class="comment-text-sm"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
                          
              </div>
              <div class="commented-section mt-2">
                  <div class="d-flex flex-row align-items-center commented-user">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                      <h5 class="mr-2">Samoya Johns</h5></div>
                  <div class="comment-text-sm"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</span></div>
              </div>
              <div class="commented-section mt-2">
                  <div class="d-flex flex-row align-items-center commented-user">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"></div>
                      <h5 class="mr-2">Makhaya andrew</h5></div>
                  <div class="comment-text-sm"><span>Nunc sed id semper risus in hendrerit gravida rutrum. Non odio euismod lacinia at quis risus sed. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Enim facilisis gravida neque convallis a. In mollis nunc sed id. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Ultrices mi tempus imperdiet nulla malesuada pellentesque.</span></div>
          </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-modal">
    <div class="modal-content">
      <div class="close">+</div>
      <img src="\assets\images\comment-icon-256.png" class="popImg" alt="">
      <form action="" >
        <input type="text" placeholder="Adınız">
        <input type="text" placeholder="E-mail">
        <a href="" id="button" class="button">Gönder</a>
         <input type="button" value="Send">
      </form>
    </div>
  </div> -->
  <div class="bg-modal-reserve">
    <div class="modal-content-reserve">
      <div class="close">+</div>
      <img src="\assets\images\reservation.png" class="popImg" alt="">
      <form action="/order" >
        <input type="text" placeholder="Adınız" name="username">
        <input type="text" placeholder="Soydınız" name="usersurname">
        
        <input type="email" placeholder="E-mail" name="useremail">
        <label for="start">Tarih:</label>
  
        <input type="date" id="start" name="ordertime"
         value="2022-06-23"
         min="2022-06-23" max="2022-06-30">
         <select class="form-select__select">
          <option selected disabled>Saat seçiniz</option>
          <option>10.00</option>
          <option>11.00</option>
          <option>12.00</option>
          <option>13.00</option>
          <option>14.00</option>
          <option>15.00</option>
          <option>16.00</option>
          <option>17.00</option>
        </select>
        <br>
        <input type="submit" value="Gönder">
        <!-- <a href="" id="button" class="button">Gönder</a> -->
      </form>
    </div>
  </div>
  
  