<!-- <div class="input-group mb-3">
  <h1 *ngFor="let item of Restaurant">{{ item.res_name }}></h1>
</div> -->

<div *ngIf="Employee.length !== 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
        <th scope="col">Tanitim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee">
        <td>{{ employee.res_id }}</td>
        <td>{{ employee.res_name }}</td>
        <td>{{ employee.res_tanitim }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
